@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeue55Roman.woff2') format('woff2'), url('../fonts/HelveticaNeue55Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Black';
  src: url('../fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'), url('../fonts/HelveticaNeueBlackCondensed.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'), url('../fonts/HelveticaNeueBoldCondensed.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Thin';
  src: url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-mineShaft: #333;
  --color-emerald: #34c759;
  --color-mineShaft25: #252525;
  --color-codGray: #1a1a1a;
  --color-dustyGray: #999;
  --color-silverChalice: #a6a6a6;
  --color-alto: #d9d9d9;
  --color-mineShaft30: #303030;
  --color-tundora: #262626;
  --color-tundora: #4d4d4d;
  --color-codGray19: #191919;
  --color-aluminium: #a4a8b2;
  --color-osloGray: #85878c;
  --color-nobel: #b3b3b3;
  --color-black: #000;
  --color-doveGray: #737373;
  --color-silver: #bfbfbf;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

html,
body {
  /*Для .wrapper Это будет нужно для footer*/
  height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Helvetica', sans-serif;
  /*Общий шрифт 400*/
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--color-white);
  background-color: var(--color-codGray);
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p,
a {
  /* перенос слов */
  word-wrap: break-word;
}

ul {
  list-style: none;
}

button {
  /*стрелки у слайдера*/
  background-color: inherit;
  border: none;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center; 
  padding: 15px 30px 12px;
  border-radius: 43px;
  border: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: 900;
  font-size: 13px;
  line-height: 1;
  color: var(--color-codGray);
  text-align: center;
  text-transform: uppercase; 
  letter-spacing: 2px;
  background-color: var(--color-emerald);
  cursor: pointer;  
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 1;
  transition: 0.2s all;
}

.btn:focus {
  color: var(--color-emerald);
  background-color: transparent;
  outline: 2px solid var(--color-emerald);
}

.btn:hover {
  color: var(--color-tundora);
}

.btn:active {
  opacity: .7;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 43px;
  width: 0;
  height: 100%;
  background-color: var(--color-white);
  transition: 0.3s;
  z-index: -1;
}

.btn:hover:before {
  width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

[data-container] {
  /*1050px = 1110px + 50px + 50px не менять!*/
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 50px;
  text-align: center;
}  

.h2 {
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 400;
  line-height: 2;
  letter-spacing: 6.8px;
}

.h3 { 
  font-size: clamp(16px, 4vw, 22px);
  font-weight: 400;
  letter-spacing: -0.275px;
} 

.h4 { 
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.15px;
}

.desc {
  font-family: 'Helvetica-Thin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}  

.swiper-wrapper {/*Для компа биб*/
  height: auto;
}

.list-grid {
  display: -ms-grid;
  display: grid;
  -webkit--gap: 28px;
  -moz--gap: 28px;
  gap: 28px;
  padding: 0;
}


/*** Шаблон микс - Заголовок title__h2 1920px***/
.title {
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -36px;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: var(--color-emerald);
}

.title__h2 {
  position: relative;  
  display: inline-block;
  font-family: 'Helvetica-Thin', sans-serif;
  color: var(--color-alto);  
  z-index: 1;
}

.title__h2::before {
  content: "text";
  position: absolute;
  top: -47px;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Helvetica-Black', sans-serif;
  /* В бефоре clamp в РР не правильно работает. Задала ниже в медиа. */
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: 150px;
  letter-spacing: clamp(3px, 5vw, 20px);
  text-transform: uppercase;
  color: var(--color-mineShaft30);
  z-index: -1;
  justify-content: center;
}
/*** // Шаблон микс - Заголовок title__h2 1440px***/

/* Шаблон микс -  Звездо лайков raiting-1440px */
.raiting {
  /* Ширина недаёт блоку уехать в право float-у(.raiting__star) */
  width: 125px;
}

.raiting__check {
  display: none;
}

.raiting__check:checked ~ .raiting__star {
  background: url("../img/icon-stars/yellow-1.svg") center / cover no-repeat;
  /* background: url("https://raw.githubusercontent.com/leska-ver/healthy-food-Jeka/78e006ddc08e36d911792bea2464321d05b34a46/img/icon-stars/yellow-1.svg") center / cover no-repeat; */
}
.raiting__star {
  position: relative;
  display: block;
  /* float направляет загорание звезды */
  float: right;
  width: 19px;
  height: 19px; 
  margin-right: 5px;
  font-size: 0;
  line-height: 0;
  background: url("../img/icon-stars/gray-1.svg") center / cover no-repeat;
  /* background: url("https://raw.githubusercontent.com/leska-ver/healthy-food-Jeka/78e006ddc08e36d911792bea2464321d05b34a46/img/icon-stars/gray-1.svg") center / cover no-repeat; */
  cursor: pointer;
}

.raiting__star_half {
  background: url("../img/icon-stars/gray-0.5.svg") center / cover no-repeat;
  /* background: url("https://raw.githubusercontent.com/leska-ver/healthy-food-Jeka/78e006ddc08e36d911792bea2464321d05b34a46/img/icon-stars/gray-0.5.svg") center / cover no-repeat; */
}

.raiting__star_0 {
  background: url("../img/icon-stars/gray-0.svg") center / cover no-repeat;
  /* background: url("https://raw.githubusercontent.com/leska-ver/healthy-food-Jeka/78e006ddc08e36d911792bea2464321d05b34a46/img/icon-stars/gray-0.svg") center / cover no-repeat; */
}

.raiting__star:hover, .raiting__star--active {
  background: url("../img/icon-stars/yellow-0.5.svg") center / cover no-repeat;
  /* background: url("https://raw.githubusercontent.com/leska-ver/healthy-food-Jeka/78e006ddc08e36d911792bea2464321d05b34a46/img/icon-stars/yellow-0.5.svg") center / cover no-repeat; */
}
.raiting__star:hover ~ .raiting__star, .raiting__star--active ~ .raiting__star {
  background: url("../img/icon-stars/yellow-1.svg") center / cover no-repeat;
  /* background: url("https://raw.githubusercontent.com/leska-ver/healthy-food-Jeka/78e006ddc08e36d911792bea2464321d05b34a46/img/icon-stars/yellow-1.svg") center / cover no-repeat; */
}
/* // Шаблон микс -  Звездо лайков raiting-1440px */


/***Шапка header-1920px***/
.header {
  padding: 23px 0 404px;
  max-width: 100%;
  background: url("../img/plate.png") center / cover no-repeat;
  background-color: var(--color-mineShaft);
}

.header__top {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.header__logo:focus {
  outline: 2px solid var(--color-emerald);
  outline-offset: 8px;
}

.header__logo:hover {
  opacity: .7;
}

.header__logo:active {
  opacity: .6;
}

/*burger анимация*/
.header__burger {
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: stroke .4s ease-in-out;
  -ms-transition: stroke .4s ease-in-out;
  -moz-transition: stroke .4s ease-in-out;
  -o-transition: stroke .4s ease-in-out;
  transition: stroke .4s ease-in-out;
  cursor: pointer;
}

.header__burger:focus .line {
  stroke: var(--color-white);
}

.header__burger svg {
  width: 30px;
  height: 30px;
  z-index: 2;
}

.header__x {
  transform: scale(0);
  transition: transform 400ms;
}

.line {
  fill: none;
  stroke: var(--color-emerald);
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.header__x .line {
  stroke-width: 5.5px;
}

.burger-active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.burger-active .header__x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}
/* El segundo plato2 */
.burger .line1 {
  stroke-dasharray: 21 185.62753295898438;
  transition-delay: 0;
}
.burger .line2 {
  stroke-dasharray: 21 178.6514129638672;
  transition-delay: 30ms;
}
.burger .line3 {
  stroke-dasharray: 21 197.92425537109375;
  transition-delay: 60ms;
}
.burger .line4 {
  stroke-dasharray: 21 190.6597137451172;
  transition-delay: 90ms;
}
.burger .line5 {
  stroke-dasharray: 21 208.52874755859375;
  transition-delay: 120ms;
}
.burger .line6 {
  stroke-dasharray: 21 186.59703063964844;
  transition-delay: 150ms;
}
.burger-active.burger .line1 {
  stroke-dasharray: 5 185.62753295898438;
  stroke-dashoffset: -153px;
}
.burger-active.burger .line2 {
  stroke-dasharray: 5 178.6514129638672;
  stroke-dashoffset: -149px;
}
.burger-active.burger .line3 {
  stroke-dasharray: 5 197.92425537109375;
  stroke-dashoffset: -188px;
}
.burger-active.burger .line4 {
  stroke-dasharray: 5 190.6597137451172;
  stroke-dashoffset: -171px;
}
.burger-active.burger .line5 {
  stroke-dasharray: 5 208.52874755859375;
  stroke-dashoffset: -151px;
}
.burger-active.burger .line6 {
  stroke-dasharray: 5 186.59703063964844;
  stroke-dashoffset: -188px;
  opacity: 0;
}
.burger-active.burger .header__x {
  transition: transform 400ms 250ms;
}
/* // burger анимация*/

.header__nav { 
  position: relative;
  /*Нужен для разворота burger*/
  z-index: 2;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.header__item:not(:last-child) {
  margin-right: 44px;
  margin-bottom: 2px;
}

.header__item:last-child {
  margin-right: 10px;
}

.header__link {
  border: 1px solid transparent;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 3vw, 14px);
  line-height: 1.2px;  
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  -o-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

.header__link:focus {
  outline: none;
  border-bottom: 1px solid var(--color-emerald);
  text-decoration: none;
}

.header__link:hover, .header__link--active {
  color: var(--color-emerald);
}

.header__link:active {
  opacity: .7;
}

/* header__bottom */
.header__bottom {
  padding: 84px 0 0;
}

.header__h2 {
  /* Жеки лайфхак. Работает с большим шрифтом */
  position: relative;
  left: 0.7%;
  margin: 0;
  font-family: 'Helvetica-Thin', sans-serif;
  font-size: clamp(30px, 6vw, 72px);
  font-weight: 400;
  letter-spacing: 7.2px;
  line-height: 1.2;
  text-align: center;
}

.header__h2 span {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  letter-spacing: 15px;
}

.header__desc {
  margin: 0 auto 40px;
  width: 515px;
  line-height: 26px;  
  letter-spacing: .3px;
  color: rgba(255, 255, 255, .7);
}

.header__desc span {
  letter-spacing: .6px;
}

.header__btn {
  margin: 0 auto 74px;
  padding: 25px 54px 24px 60px;
  max-width: 223px;
  font-size: clamp(14px, 5vw, 18px);
  font-weight: 700;
  line-height: normal;
  letter-spacing: clamp(2px, 5vw, 3.6px);  
  text-transform: inherit;
}

.header__cards {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 183px 159px 176px;
  -o-grid-template-columns: 183px 159px 176px;
  -moz-grid-template-columns: 183px 159px 176px;
  -ms-grid-template-columns: 183px 159px 176px;
  grid-template-columns: 183px 159px 176px;
  -webkit--gap: 20px 170px;
  -moz--gap: 20px 170px;
  gap: 20px 170px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.header__info {
  text-align: center;
}

.header__info_margin {
  margin-top: 2px;
  margin-left: -13px;
}

.header__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.header__text {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 30px;
}

.header__gray {
  font-size: 14px;
  color: var(--color-dustyGray);
}

.header__tel {
  display: block;
  margin: 21px 0 9px;
  font-size: 16px;
  -webkit-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out;
  -o-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

.header__tel:focus {
  outline: 1px solid var(--color-emerald);
  outline-offset: 7px;
  color: var(--color-emerald);
}

.header__tel:hover {
  color: var(--color-dustyGray);
}
/* // header__bottom */
/*** // Шапка header-1920px***/


/*** О нас about-1440px ***/
.about {
  margin: -238px auto 51px;
}

.about__block {
  position: relative;
  padding: 77px 0 90px;
  border-radius: 6px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
  width: 1110px;
  background: #252525;
  /*Для анимации стрелок*/
  overflow: hidden;
}

.about__title {
  margin-bottom: 37px;
}

.about__title::before {
  display: none; 
}

.about__title .title__h2::before {
  content: "about";
}

.about__desc {
  margin: 0 auto 92px;
  padding-right: 6px;
  max-width: 704px;
  font-size: 17.25px;
}

/*Слайдер*/
.about__swiper {
  margin: 0 auto;
  width: 735px;
  height: 268px;
  overflow: hidden;
}

.about__swiper_mobili {
  display: none;
}

.about__wrapper {
  margin: 0;
  padding: 0;
}

.about__slide {
  background-position: center;
  background-size: cover;
}

.about__slide img {
  display: block;
  width: 100%;
}

/***Стрелки слайдеров***/
.about__btn {
  position: absolute;
  top: 65.5%;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-tundora);
  z-index: 2;
  -webkit-transition: background .4s ease-in-out;
  -moz-transition: background .4s ease-in-out;
  -ms-transition: background .4s ease-in-out;
  -o-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}

.about__btn:focus {
  border: 2px solid transparent;
  outline: none;
  background-color: var(--color-emerald);
}

.about__btn:hover {
  border: 2px solid transparent;
  background-color: var(--color-white);
}

.about__btn:focus svg rect {
  fill: var(--color-mineShaft);
}

.about__btn:hover svg rect, .about__btn:disabled svg rect {
  fill: var(--color-osloGray);
}

.about__btn:disabled {
  border: 1px solid var(--color-osloGray);
}

.about__btn:active {
  opacity: .7;
}

.about__btn_prev {
  left: 67px;
}

.about__btn_next {
  right: 67px;
}
/***Стрелки слайдеров***/
/* // Слайдер*/
/*** // О нас about-1440px ***/


/*** Работа work-1440px ***/
.work {
  padding: 51px 0 55px;
}
.work__title {
  margin-bottom: 96px;
}

.work__title h2 {
  margin: 0;
  font-size: clamp(26px, 5vw, 36px);
}

.work__title .title__h2::before {
  content: "work";
  top: -41px;
}

.work__list {
  -webkit-grid-template-columns: repeat(4, 1fr);
  -o-grid-template-columns: repeat(4, 1fr);
  -moz-grid-template-columns: repeat(4, 1fr);
  -ms-grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  text-align: start;
}

.work__item {
  padding: 7px 35px 35px 25px;
  background-color: var(--color-mineShaft25);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.work__item:hover {
  background-color: var(--color-emerald);
}

.work__item:hover .work__h3, .work__item:hover .work__desc {
  color: var(--color-codGray19);
}

.work__item:hover .work__h3::before {
  background-color: var(--color-codGray19);
}

.work__h3 {
  position: relative;
  margin-bottom: 44px;
  color: var(--color-white);
  -webkit-transition: color .4s ease;
  -moz-transition: color .4s ease;
  -ms-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease;
}

.work__h3:hover {  
  color: var(--color-codGray19);
}

.work__h3::before {
  content: "";
  position: absolute;
  left: 27px;
  bottom: -21px;
  width: 56px;
  height: 2px;
  background-color: var(--color-emerald);
  transform: translateX(-50%);
}

.work__desc {
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px; 
  letter-spacing: -0.162px;
  color: rgba(255, 255, 255, 0.50);
}
/*** // Работа work-1440px ***/


/*** Блюда dishes-1440px ***/
.dishes {
  padding: 55px 0 62px;
}

.dishes__title {
  margin-bottom: 80.5px;
}

.dishes__title .h2 {
  margin: 0 0 20px;
  font-size: 36px;
  letter-spacing: 7.2px;
}

.dishes__title.title::before {
  bottom: -20px;
}

.dishes__title .title__h2::before {
  content: "dishes";
  top: -36px;
}

/*Карточки одной высоты*/
.dishes__list {
  -webkit-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  text-align: start;
}

.dishes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;/*Для выравнивание карточек dishes__info*/
  flex-direction: column;/*Для выравнивание карточек dishes__info*/ 
}

.dishes__img img {
  border-radius: 8px 8px 0 0;
}

.dishes__info { 
  position: relative; /*Для кнопки*/ 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;/*Для выравнивание карточек li*/
  justify-content: space-between;/*Для выравнивание карточек li*/
  flex-direction: column;/*Для выравнивание карточек li*/
  padding: 25px 31px;  
  height: 100%;/*Для выравнивание карточек li*/
  background-color: var(--color-mineShaft25);
}

.dishes__block {
  margin-bottom: 20px;
}

.dishes__h3 {
  margin: 0 0 3px;
  font-size: clamp(22px, 4vw, 32px);
  line-height: 30px;
  letter-spacing: .3px;
  color: var(--color-alto);
}

.dishes__h4 {
  margin: 0 0 21px;
  color: var(--color-aluminium);
}

.dishes__desc {
  margin: 0;
  color: var(--color-osloGray);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px; 
  letter-spacing: 0.162px;
}

.dishes__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dishes__span {
  margin-left: -30px;
  font-size: 12px;
  font-weight: 900;
  line-height: 30px; 
  letter-spacing: 1.5px;
  color: var(--color-nobel);
}

.dishes__btn {
  margin-right: -6px;
  border: 2px solid var(--color-tundora);
  font-size: 10px;
  color: rgba(255, 255, 255, 0.50);
  background-color: transparent;
}

.dishes__btn:hover, .dishes__btn--active {
  border: 2px solid transparent;
  color: var(--color-mineShaft25);
}

.dishes__btn:before, .dishes__btn--active {
  background-color: var(--color-emerald);
}

.dishes__btn--active:hover {
  background-color: transparent;
}
/* // Карточки одной высоты*/
/*** // Блюда dishes-1440px ***/


/*** Шеф-повара chefs-1440px ***/
.chefs {
  padding: 62px 0 48px;
}

.chefs__title {
  margin-bottom: 58px;
}

.chefs__title .h2 {
  margin: 0 0 18px;
  font-size: clamp(20px, 5vw, 38px);
  letter-spacing: 7.7px;
}

.chefs__title.title::before {
  bottom: -20px;
}

.chefs__title .title__h2::before {
  content: "chefs";
  top: -36px;
}

.chefs__list {
  -webkit-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0 20px;
}

.chefs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.chefs__img {
  margin-right: 24px;
}

.chefs__info {
  margin-top: 11px;
}

.chefs__h3 {
  margin: 0;
  font-size: clamp(16px, 4vw, 18px);
  letter-spacing: -0.225px;
  color: var(--color-white);
}

.chefs__desc {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.50);
}

.chefs__album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.chefs__foto:not(:last-child) {
  margin: 0 30px 30px 0;
}
/*** // Шеф-повара chefs-1440px ***/


/*** Рецепты recipes-1440px ***/
.recipes {
  padding: 47px 0 62px;
} 

.recipes__title {
  margin-bottom: 81px;
}

.recipes__title .h2 {
  margin: 0 0 18px;
  font-size: clamp(20px, 5vw, 38px);
  letter-spacing: 7.7px;
}

.recipes__title.title::before {
  bottom: -20px;
}

.recipes__title .title__h2::before {
  content: "recipes";
  top: -36px;
}

.recipes__title .title__hide {
  position: relative;
	padding: 0;
}
.recipes__title .title__hide:before {
	content: '|';
  position: absolute;
  top: 3px;
  left: 0px;
  font-size: medium;
  color: var(--color-codGray);
  background-color: var(--color-codGray);
}

.recipes__title .title__hide_right:before {
  top: 4px;
  left: 10px;
}

.recipes__div {
  display: flex;
  overflow: hidden;
}

.recipes__list {
  flex-basis: 50%;
  margin: 0;
  padding: 0;
}

/* Левая карточка */
.recipes__list_left {
  margin-right: 28px;
}

.recipes__item {
  border-radius: 6px;  
  background-color: var(--color-mineShaft25);
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.recipes__item:hover {
  opacity: 0.5;
}

.recipes__item:hover .recipes__button {
  background-color: var(--color-emerald);
}

.recipes__item:hover .recipes__h3 {
  background-color: var(--color-emerald);
}

.recipes__item_breakfast {
  position: relative; /*DARKEN */	
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 66px;
  height: 100%;
  min-height: 100%;
  background: url("../img/img-recipes/recipes-01.jpg") center / cover no-repeat;
}

.recipes__button {
  position: absolute;
  top: 30px;
  right: 34px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .3);
  cursor: pointer;
}

.recipes__button svg {
  width: 13px;
  height: 13px;
}

.recipes__button svg rect {
  fill: var(--color-white);
}

.recipes__button:focus {
  outline: 2px solid var(--color-emerald);
}

.recipes__card {
  position: relative;/*DARKEN */
}

.recipes__h3 {
  margin: 60px auto 71px;
  padding: 3px;
  width: 90px;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background-color: var(--color-black);
}

.recipes__time {
  display: inline-block;
  margin-bottom: 30px;
}

.recipes__desc {
  width: 302px;
  margin: 0 auto 54px;
  font-size: clamp(20px, 5vw, 26px);
  line-height: 40px;
}

.recipes__span {
  display: inline-block;
  margin-bottom: 70px;
  font-size: clamp(12px, 5vw, 14px);
}

.recipes__reaction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes__info {
  display: flex;
}

.recipes__info:not(:last-child) {
  margin-right: 30px;
}

.recipes__img {
  margin-right: 14px;
}


/* Правая карточка */
.recipes__list_right {
  display: flex;/*Для детей maldivi и krit*/
  flex-direction: column;/*Для гибкости у детей с flex-basis*/
}

.recipes__item_little {
  position: relative; /*DARKEN */  
  padding: 13px 34px 13px 31px;
  flex-basis: 50%;/*Из-за родителя в column ширина стала высотой*/
  width: 100%;
}

.recipes__item_little_jpg {
  background: url("../img/img-recipes/recipes-02.jpg") center / cover no-repeat;
}

.recipes__item_little_green {
  color: var(--color-mineShaft25);
  background-color: var(--color-emerald);
}

.recipes__item_little_green .btn {
  padding: 7.7px 15px;
  border-radius: 6px;
  font-size: 9px;
}

.recipes__item_little .btn:hover {
  border-radius: 13px;
}

.recipes__item_little_green .btn:focus {
  color: var(--color-emerald);
  background-color: var(--color-black);
  outline: 2px solid var(--color-emerald);
}

.recipes__item_little:not(:last-child) {
  margin-bottom: 29.5px;
}

.recipes__description {
  margin-bottom: 10px;
  font-size: 16.4px;
  line-height: 30px;
  text-align: start;
}

.recipes__flex {
  display: flex;
}

.recipes__block {
  display: flex;
}

.recipes__block:not(:last-child) {
  margin-right: auto;
} 

.recipes__block:last-child {
  align-items: center;
  margin: 6.5px -6px 0 0;
}

.recipes__btn {
  margin-right: 12px;
  padding: 7.7px 17px;
  border-radius: 0;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-black);
}

.recipes__datetime {
  margin-top: 5px;
}
/*** // Рецепты recipes-1440px ***/


/*** Социальное social-1440px ***/
.social {
  padding: 62px 0 55px;
} 

.social__title {
  margin-bottom: 81px;
}

.social__title .h2 {
  margin: 0 0 18px;
  font-size: clamp(20px, 5vw, 38px);
  letter-spacing: 7.7px;
}

.social__title.title::before {
  bottom: -18px;
}

.social__title .title__h2::before {
  content: "social";
  top: -34px;
}

.social__list {
  -webkit-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.social__item {
  background-color: var(--color-mineShaft25);
}

.social__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 23px 9px 6px;
  border-bottom: 2px solid var(--color-mineShaft30);
}

.social__figure {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.social__figure svg {
  margin-right: 16px;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid var(--color-doveGray);
}

.social__figure figcaption {
  font-size: 14px;
  color: var(--color-silver);
}

.social__button {
  padding: 9px 18px;
  border-radius: 30px;
  border: 2px solid var(--color-mineShaft30);
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-doveGray);
}

.social__news {
  padding: 25px 30px;
  font-size: 14px;
  text-align: start;
}

.social__time {
  display: inline-block;
  margin-bottom: 2px;
  color: var(--color-doveGray);
}

.social__desc {
  margin-bottom: 11px;
  font-size: 14.3px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.70);
}

.social__gmail {
  line-height: 30px;
  color: var(--color-emerald);
}

.social__album {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -webkit--gap: 10px;
  -moz--gap: 10px;
  gap: 10px;
}
/*** // Социальное social-1440px ***/


@media (max-width: 1222px) {
  .title__h2::before { 
    font-size: clamp(40px, 5vw, 100px);
  }

  .header {
    padding: 13px 0 73px;
  }

  .about {
    margin: 0 auto 48px;
  }

  .about__block {
    width: 100%;
  }

  .about__desc {
    margin-bottom: 52px;
    padding-right: 0;
    max-width: 67%;
  }

  .about__swiper {
    width: 72%;
    height: max-content;
  }  

  .about__btn_prev {
    left: 3%;
  }

  .about__btn_next {
    right: 3%;
  }  


  .dishes__list {
    -webkit-grid-template-columns: repeat(2, 1fr);
    -o-grid-template-columns: repeat(2, 1fr);
    -moz-grid-template-columns: repeat(2, 1fr);
    -ms-grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .dishes__img img {
    width: 100%;
  }

  .dishes__span {
    margin-left: 0;
  }  

  .dishes__btn {
    margin-right: 0;
  }  
}

@media (max-width: 999px) {  
  [data-container] {
    padding: 0 40px;
  }

  .title__span {
    left: 27%;
  }  

  .header {
    padding: 13px 0 73px;
    background: url(../img/plate-mobile.png) 85% / cover no-repeat;
  }
  .header__h2, .header__h2 span {
    letter-spacing: 4.2px;
  }

  .header__cards {
    display: -ms-grid;
    display: grid;
    -webkit-grid-template-columns: repeat(3, 1fr);
    -o-grid-template-columns: repeat(3, 1fr);
    -moz-grid-template-columns: repeat(3, 1fr);
    -ms-grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    -webkit--gap: 10px;
    -moz--gap: 10px;
    gap: 10px;
  }

  .header__btn {
    padding: 18px 30px;
  }  

  .header__info:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .header__info:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .header__tel {
    margin-top: 19px;
  }


  .about__block {
    margin-top: 0;
    padding: 50px 0;
  }

  .about__title {
    margin-bottom: 17px;
  }

  .about__desc {
    margin-bottom: 32px;
    max-width: 87%;
  }

  /*Слайдер*/
  .about__slide {
    /*Js слайдер выдаёт картинки заднии, скрыли их*/
    overflow: hidden;
  }   

  .about__btn {
    padding: 13px;
    top: 67%;
  } 

  .about__btn svg {
    width: 13px;
    height: 13px;
  } 
  /* // Слайдер*/


  .work__list {
    -webkit-grid-template-columns: repeat(2, 1fr);
    -o-grid-template-columns: repeat(2, 1fr);
    -moz-grid-template-columns: repeat(2, 1fr);
    -ms-grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }


  .chefs__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 20px;
    padding: 0;
  }
  
  .chefs__item:not(:last-child) {
    margin-right: 20px;
  }

  .chefs__album {
    justify-content: center;
  }

  .chefs__foto:not(:last-child) {
    margin: 0 20px 20px 0;
  }


  .recipes__div {
    display: block;
  }

  .recipes__list_left {
    margin: 0 0 35px 0;
  }

  .recipes__button {
    top: 25px;
    right: 25px;
    padding: 7px 10px;
  }

  .recipes__button svg {
    width: 10px;
    height: 10px;
  }


  .social__list {
    -webkit-grid-template-columns: repeat(2, 1fr);
    -o-grid-template-columns: repeat(2, 1fr);
    -moz-grid-template-columns: repeat(2, 1fr);
    -ms-grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 686px) {
  [data-container] {
    padding: 0 25px;
  }

  .title__h2::before {
    top: -45px;
    line-height: 1;
  }  

  .header__body {
    position: relative;
    display: block;
  }

  .header__top {
    padding-bottom: 0;
    border-bottom: 1px solid transparent;
  }

  .header__burger {
    display: block;
  }

  .header__burger svg {
    position: absolute;
    top: 0;
    right: 25px;
  }
  
  /*JS для burger-а*/
  .menu {
    /*transform: translateY(-300%);Скрывает меню*/
    opacity: 0;
  }

  .menu.is-active {
    /*is-active js
    transform: none;*/
    opacity: 1;
  }

  .header__nav {
    position: absolute;
    width: 100%;
    top: 32px;
    left: 0;
  }

  .header__list {
    right: -26px;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
    width: 100%;
    background-color: var(--color-mineShaft);
  }

  .header__item:not(:last-child) {
    margin: 0;
  }
  /* // JS для burger-а*/

  .header__h2 {
    left: 0;
    text-align: inherit;
  }

  .header__desc {
    width: 100%;
  }  

  .header__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .about__block {
    padding-bottom: 100px;
  }

  .about__wrapper {
    margin-bottom: 25px;
  }

  .about__swiper_desktop {
    display: none;
  }

  .about__swiper_mobili {
    display: block;
  }

  .about__navigation {
    position: relative;
    margin: 0 auto;
    width: 95px;
    height: 40px;
  }

  .about__btn {
    top: 0;
    padding: 10px;
  }  

  .about__btn_prev {
    left: 0;
  }

  .about__btn_next {
    right: 0;
  } 

  .about__btn svg {
    width: 10px;
    height: 10px;
  }

  .work__list {
    display: block;
  }


  .dishes__list {
    display: block;
  }

  .dishes__info {
    padding: 25px;
  }


  .chefs__item {
    display: block;
  }

  .chefs__item:not(:last-child) {
    margin-right: 0;
  }

  .chefs__foto:nth-child(3n) {
    margin-right: 0;
  }


  .recipes__title .title__hide:before {
    display: none;
  }
}

@media (max-width: 424px) {
  .title__h2::before {
    top: 20px;
    color: var(--color-mineShaft);
  }

  .header {
    padding-bottom: 33px;
  }  

  .header__info_margin {
    margin: 0;
  }

  .header__info:nth-child(odd) {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .header__info:nth-child(even) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about__block {
    padding: 33px 0;
  }

  .about__title {
    margin-bottom: 0;
  }

  .about__desc {
    margin-bottom: 12px;
    max-width: 100%;
    line-height: 1.5;
  }


  .dishes__raiting {
    margin-bottom: 20px;
  }

  .dishes__btn {
    display: block;
    width: 100%;
  }


  .chefs__list {
    display: block;
  }

  .chefs__item {
    display: flex;
    margin-bottom: 20px;
  }

  .chefs__album {
    justify-content: start;
    margin: 0 auto;
    width: 267px;
  }

  .chefs__foto, .chefs__foto:not(:last-child) {
    margin-right: 0;
  }

  .chefs__foto:nth-child(odd) {
    margin-right: 20px;
  }

  .chefs__foto:nth-child(7) {
    order: 8;
  }

  .chefs__foto:nth-child(8) {
    order: 7;
    margin-left: 20px;
  }

  .chefs__foto:nth-child(9) {
    order: 9;
  }


  .recipes__flex {
    display: block;
  }

  .social__list {
    display: block;
  }
}  






/**/
:root {
  /*биб*/
  --swiper-theme-color: transparent;
  /*9.9*/
  --burger-width: 30px;
  --burger-height: 23px;
  --burger-line-height: 2px;
  --color-white: #fff;
  --color-black: #333;
  --color-black-0: #000;
  --color-amethyst: #9d5cd0;
  --color-dustyGray: #999;

  /*В активе и в фокусе у разных элементов*/
  --color-royal-purple: #7943A4;
  --color-heliotrope: #C283F3;
  --color-biloba-flower: #d1a9f0;
  --color-silver: #cacaca;
  --gap: 32px;
}

/**-gallery-**/
.social__foto {
  position: relative;
  padding: 0;
  outline: none;
  background-color: var(--color-codGray19);
}

.social__foto:focus::before {
  border: 3px solid var(--color-royal-purple);
  opacity: 1;
}

.social__foto::before {
  content: "";
  position: absolute;
  display: block;
  /* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */
  padding-top: 98.5%;
  border: 3px solid transparent;
  z-index: 1;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.social__foto::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: url("../img/img-social/social-arrow.png") center / cover no-repeat;
  background-image: url("https://raw.githubusercontent.com/leska-ver/kursach/23c84e97c97cffd8458a0e2c9ead2a8009d55e7f/img/loop+.svg");
  background-repeat: no-repeat;
  background-size: 81px;
  background-position: 50% 45%;
  background-clip: content-box;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.social__foto:hover::after {
  opacity: 1;
}

.social__foto:active::before {
  border: 2px solid var(--color-mineShaft30);
  background-color: rgba(194, 131, 243, 0.4);
}

.social__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**-modal-**/
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: rgb(6 6 6 / 71%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  /* модальный блок ездит не будет по всему сайту */
  overflow: auto;
  z-index: 99999;
  transition: all 0.3s ease-in-out;

}

.modal {
  background-color: #fff;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay--visible {
  /*Mak*/
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  /*Mak*/
  display: block;
}

.modal--visible:focus {
  /*Для Таба, открывать модальное окно. Не трогать!!!*/
  outline: 1px solid var(--color-amethyst)
}

.disable-scroll {
  /*Mak*/
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.modal:target {
  display: block;
  pointer-events: auto;
}

.modal__js-close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 30px;
  transition: background-color .4s ease-in-out;
  cursor: pointer; 
}

.modal__js-close::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 5px;
  width: 20px;
  height: 1px;
  background-color: var(--color-black-0);
  transform: rotate(45deg);
  transition: background-color .4s ease-in-out;
}

.modal__js-close::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 1px;
  height: 20px;
  background-color: var(--color-black-0);
  transform: rotate(45deg);
  transition: background-color .4s ease-in-out;
}

.modal__js-close:focus::before, .modal__js-close:focus::after {
  background-color: var(--color-amethyst);
}

.modal__js-close:hover::before, .modal__js-close:hover::after {
  background-color: var(--color-amethyst);
}

.modal__js-close:active::before, .modal__js-close:active::after {
  background-color: var(--color-royal-purple);
}

.modal__container {
  position: relative;
  display: flex;
  width: 100%;
  height: inherit;
}

.modal__picture {
  width: 44.3%;
}

.modal__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal__title {
  margin: 0;
  font-size: 23px;
  color: var(--color-black);
}

.modal__info {  
  position: relative;
  padding: 117px 0 16px 50px;
  width: 50%;
}

.modal__strong {
  display: block;
  font-size: 15px;
  line-height: 15px;
  color: var(--color-black);
}

.modal__span {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.modal__descr {
  margin: 0;
  padding-top: 31px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: var(--gap);
  color: var(--color-black);
}


/**Конец modal**/


/**-Конец gallery-**/

